@using CRUDelicious.Models
@model Dish
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>@Model.Name</h1>
    <h3>@Model.Chef</h3>
    <hr>
    <p><span>Description:</span>@Model.Description</p>
    <p><span>Calories:</span>@Model.Calories</p>
    <p><span>Tastiness:</span>@Model.Tastiness</p>
    <div>
        <a href="/dish/@Model.DishId/delete">Delete</a>
        <a href="/dish/@Model.DishId/edit">Edit</a>
    </div>
</body>
</html>