@using BankAccounts.Models
@model Transaction
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bank.css">
    <title>Account</title>
</head>
<body>
    <a class="exit" href="/">Logout</a>
    <div class="user-box">
        <h5>UserName:</h5>
        <h2>@ViewBag.User.FirstName @ViewBag.User.LastName</h2>
        <h5>Current Balance:</h5>
        <h2>@string.Format("{0:C}", @ViewBag.User.Balance)</h2>
    </div>
    <div class="deposit">
        <form asp-action="Process" method="POST" asp-controller="Bank">
            <div class="pay">
                <h3><label asp-for="Amount">New Transaction</label></h3><br>
                <input type="number" asp-for="Amount" step=".01">
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="trans">
        <table>
            <tr>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            @foreach (Transaction trans in ViewBag.Transactions)
            {
                <tr>
                    <td>@string.Format("{0:C}", @trans.Amount)</td>
                    <td>@trans.CreatedAt</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>