@using E_Commerce.Models
@model DashWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <partial name="NavPartial"/>
    <button title="Toggle sidebar">Menu</button>
    <aside id="sidebar" class="collapsed">
        <form>
            <div>
                <input type="text">
            </div>
            <input type="submit">
        </form>
    </aside>
    <main id="content">
        <div class="push">
            <h3>Products</h3>
            <div class="products">
                @{foreach(Product prod in Model.AllProducts)
                    {
                        <div class="items">
                            <img src="@prod.ImageUrl" alt="">
                            <div>
                                <h5>@prod.Name</h5>
                                <p>(@prod.Quantity left)</p>
                            </div>
                        </div>
                    }
                }
                <a href="/products">show more..</a>
            </div>
            <h3>Recent Orders</h3>
            <div class="r-orders">
                @{foreach( Order buy in Model.RecentOrders)
                    {
                        <h4>@buy.Buyer.Name purchased @buy.ItemBought.Quantity @buy.ItemBought.Name </h4>
                    }
                }
                <a href="/orders">show all orders</a>
            </div>
            <h3>New Customers</h3>
            <div class="customers">
                @{foreach(Customer customer in Model.NewCustomers)
                    {
                        <h4>@customer.Name joined the store</h4>
                    }
                }
                <a href="/customers">show all customers</a>
            </div>
        </div>
    </main>
</body>
<script src="~/js/main.js"></script>
</html>