@using E_Commerce.Models
@model ShopperWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/tables.css">
</head>
<body>
    <partial name="NavPartial"/>
    <main>
        <div>
            <form asp-action="Purchases" asp-controller="Store" method="POST">
                <h3>Orders</h3>
                <div>
                    <label asp-for="AddOrder.CustomerId">Buyer</label>
                    <select asp-for="AddOrder.CustomerId">
                        @{foreach (Customer shopper in Model.AllCustomers)
                            {
                                <option value="@shopper.CustomerId">@shopper.Name</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <label asp-for="AddOrder.ProductId">Product</label>
                    <select asp-for="AddOrder.ProductId">
                        @{foreach (Product prod in Model.AllProducts)
                            {
                                <option value="@prod.ProductId">@prod.Name</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <label asp-for="AddOrder.Quantity"></label>
                    <input type="number" asp-for="AddOrder.Quantity" id="AddOrder.Quantity" name="AddOrder.Quantity">
                </div>
                <input type="submit" value="Add Order">
            </form>
            <div>
                <div>
                    <span asp-validation-for="AddOrder.CustomerId"></span>
                    <span asp-validation-for="AddOrder.ProductId"></span>
                    <span asp-validation-for="AddOrder.Quantity"></span>
                </div>
            </div>
        </div>
        <div>
            <h3>Search</h3>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
        </div>
        <table id="myTable">
            <tr class="header">
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Date</th>
            </tr>
            @{foreach (Order order in Model.AllOrders)
                {
                    <tr>
                        <td>@order.Buyer.Name</td>
                        <td>@order.ItemBought.Name</td>
                        <td>@order.Quantity</td>
                        <td>@order.CreatedAt</td>
                    </tr>
                }
            }
        </table>
    </main>
</body>
<script src="~/js/search.js"></script>
</html>