@using ChefsNDishes.Models
@model List<Dish>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div>
        <partial name="NavPartial"/>
    </div>
    <a href="/dishes/new">Add a Dish</a>
    <h4>Yum Take a look at our Tasty Dishes</h4>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Calories</th>
            <th>Tastiness</th>
        </tr>
        @foreach(var food in Model){
            <tr>
                <td>@food.Name</td>
                <td>@food.Preparer.FirstName @food.Preparer.LastName</td>
                <td>@food.Calories</td>
                <td>@food.Tastiness</td>
            </tr>
        }
    </table>
</body>
</html>