@using ChefsNDishes.Models
@model List<Chef>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div>
        <partial name="NavPartial"/>
    </div>
    <a href="/new">Add a Chef</a>
    <h4>Check out our roster of Chefs</h4>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach(var chef in Model)
        {
            var now = DateTime.Now;
            var age = now.Year - @chef.DOB.Year;
            if(@chef.DOB.Date > now.AddYears(-age))
            {
                age--;
            }
            <tr>
                <td>@chef.FirstName @chef.LastName</td>
                <td>@age</td>
                <td>@chef.Dishes.Count</td>
            </tr>
        }
    </table>
</body>
</html>