@using UserDashboard.Models
@model DashWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Manager</title>
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/tables.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashManager">Dashboard</a></li>
                <li><a href="/master/1">Profile</a></li>
            </ul>
        </nav>
        <div class="move-right">
            <a href="/logout">Logout</a>
        </div>
    </header>
    <a href="/newUser"><button class="newuser">Create User</button></a>
    <table id="myTable">
        <tr class="header">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        @{foreach(User u in Model.Users)
            {
                <tr>
                    <td>@u.UserId</td>
                    <td><a href="/m-timeline/@u.UserId">@u.FirstName @u.LastName</a></td>
                    <td>@u.Email</td>
                    <td>@u.CreatedAt.ToString("MMMM dd, yyyy")</td>
                    <td>
                        <a href="/user/@u.UserId">Edit</a>
                        <a href="">Remove</a>
                    </td>
                </tr>
            }
        }
    </table>
</body>
</html>