@using UserDashboard.Models
@model NotificationWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="~/css/timeline.css">
    <link rel="stylesheet" href="~/css/navbar.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashManager">Dashboard</a></li>
                <li><a href="/master/@ViewBag.User.UserId">Profile</a></li>
            </ul>
        </nav>
        <div class="move-right">
            <a href="/logout">Logout</a>
        </div>
    </header>
    <main>
        <div>
            <div>
                <h1>@Model.Users.FirstName @Model.Users.LastName</h1>
                <h3>@Model.Users.CreatedAt.ToString("MMMM dd, yyyy")</h3>
                <h3>User ID: @Model.Users.UserId</h3>
                <h3>Email: @Model.Users.Email</h3>
                <h3>Description: @Model.Users.Description</h3>
            </div>
            <br>
            <div>
                <form asp-action="MakeMsg" asp-controller="Admin" method="POST">
                    <h3>Post A Message</h3>
                    <div>
                        <textarea name="MsgContent" id="MsgContent" cols="50" rows="10"></textarea>
                    </div>
                    <input type="submit">
                </form>
            </div>
            <br>
            <div>
                @{foreach(Message post in Model.AllMessages)
                    {
                        <div class="message">
                            <h3><a href="/timeline/@post.Creator.UserId">@post.Creator.FirstName @post.Creator.LastName</a>  - @post.UpdatedAt</h3>
                            <p>@post.MsgContent</p>
                            @foreach(Comment reply in post.Comments)
                            {
                                <div class="comment">
                                    <h4><a href="/timeline/@reply.User.UserId">@reply.User.FirstName @reply.User.LastName</a> - @reply.UpdatedAt</h4>
                                    <p>@reply.ComContent</p>
                                </div>
                            }
                            <form class="comment" asp-action="MakeCmt" asp-controller="Admin" method="POST" asp-route-MessageId="@post.MessageId">
                                <h5>Post A Comment</h5>
                                <div>
                                    <textarea name="ComContent" id="ComContent" cols="40" rows="5"></textarea>
                                </div>
                                <input type="submit">
                            </form>
                        </div>
                        <hr>
                    }
                }
            </div>
        </div>
    </main>
</body>
</html>