@using ProdCat.Models
@model WrapperViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>@Model.NewCategories.Name</h1>
    <div>
        <h3>Products:</h3>
        @foreach(Categories a in @Model.ListCategories)
        {
            @foreach(Associations b in a.myAssociation)
            {
                @if(b.CategoryId == a.CategoryId)
                {
                    <ul>
                        <li>@b.getProduct.Name</li>
                    </ul>
                }
            }
        }
    </div>
    <div>
        <h3>Add Products</h3>
        <form asp-action="AddProduct" asp-controller="Home" method="Post" asp-route-CategoryId="@Model.NewCategories.CategoryId">
            <div>
                <select asp-for="association.ProductId">
                    @{foreach(Products i in @Model.ListProducts)
                        {
                            @if(!@Model.NewCategories.myAssociation.Any(a => a.ProductId == i.ProductId))
                            { 
                                <option value="@i.ProductId">@i.Name</option>
                            }
                        }
                    }
                </select>
            </div>
            <input type="submit" value="Add Product"/>
        </form>
    </div>
    
</body>
</html>