@using TheWall.Models
@model NotificationWrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <div>
            <h2>Coding Dojo Wall</h2>
            <nav>
                <ul>
                    <li>@ViewBag.User.FirstName @ViewBag.User.LastName</li>
                    <li><a href="/logout">Log Off</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div>
            <div>
                <form asp-action="PostMsg" asp-controller="Wall" method="POST">
                <h3>Post A Message</h3>
                <div>
                    <textarea  name="MsgContent" id="MsgContent" cols="50" rows="10"></textarea>
                </div>
                <input type="submit">
                </form>
            </div>
            <br>
            <div>
                @{foreach(Message post in Model.AllMessages)
                    {
                        <div class="message">
                            <h3>@post.Creator.FirstName @post.Creator.LastName  - @post.Creator.UpdatedAt </h3>
                            <p>@post.MsgContent</p>
                            @foreach(Comment reply in post.Comments)
                            {
                            <div class="comment">
                                <h4>@reply.User.FirstName @reply.User.LastName | @reply.UpdatedAt</h4>
                                <p>@reply.ComContent</p>
                            </div>
                            }
                            <form class="comment" asp-action="PostCmt" asp-controller="Wall" method="POST" asp-route-MessageId="@post.MessageId">
                                <h5>Post A Comment</h5>
                                <div>
                                    <textarea name="ComContent" id="ComContent" cols="40" rows="5"></textarea>
                                </div>
                                <input type="submit">
                            </form>
                        </div>
                        <hr>
                    }
                }
            </div>
        </div>
    </main>
</body>
</html>