@using WeddingPlanner.Models
@model Wedding
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/details.css">
    <title>About Wedding</title>
</head>
<body>
    <div>
        <div>
            <h1>@Model.WedderOne & @Model.WedderTwo</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <h3>Wdding Date</h3>
        <h2>@Model.Date.Value.ToString("MMMM dd, yyyy")</h2>
        <div>
            <h3>Guests</h3>
            <ul>
                @{foreach(RSVP guests in @Model.GuestsAttending)
                {
                    <li>@guests.Guest.FirstName @guests.Guest.LastName</li>
                }
                }
            </ul>
        </div>
    </div>
</body>
</html>